# dependencies
node_modules/

# build
dist/
build/
dist-ssr
*.local
supabase.exe

# testing
/coverage

# env
.env

# logs
*.log

# system
.DS_Store

# vscode
.vscode/

# supabase (optional if needed)
.supabase/